div{
    display: inline-block;
    font-size: 40px;
}
#parent{
    background-color: aqua;
    width: 1000px;
    height: 2000px;

}
#child2{
   position:fixed;
   z-index: 1;
}
.child{
    background-color: yellow;
    width: 300px;
    height: 300px;
    
}
#child3{
    position: relative;
    top: 30px;
    left: 30px;

}
#child1{
    
    margin-bottom: 20px;

}  I

    